go 1.19

use (
	./basic
	./changeMultiples35
	./exercism/go
	./exercism/go/animal-magic
	./exercism/go/annalyn
	./exercism/go/birdwatcher
	./exercism/go/blackjack
	./exercism/go/booking
	./exercism/go/cards
	./exercism/go/cars
	./exercism/go/census
	./exercism/go/chessboard
	./exercism/go/difference-of-squares
	./exercism/go/electionday
	./exercism/go/elon
	./exercism/go/expenses
	./exercism/go/grains
	./exercism/go/greeting
	./exercism/go/gross
	./exercism/go/hamming
	./exercism/go/interest-is-interesting
	./exercism/go/isogram
	./exercism/go/lasagna
	./exercism/go/lasagnamaster
	./exercism/go/logs
	./exercism/go/luhn
	./exercism/go/meteorology
	./exercism/go/parsing-log-files
	./exercism/go/partyrobot
	./exercism/go/purchase
	./exercism/go/raindrops
	./exercism/go/scrabble-score
	./exercism/go/sorting-room
	./exercism/go/space
	./exercism/go/speed
	./exercism/go/techpalace
	./exercism/go/thefarm
	./exercism/go/twelve-days
	./exercism/go/twofer
	./exercism/go/weather
	./fibonacci
	./hackerrank
	./html
	./linkedLists
	./numberinfull
	./sortAlgorithms
	./tests
	./turing
)
